body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
}
  
#logo {
    /*max(va1..val2...) return max value between the parameters passed*/
    width: max(100px, 18vw); /* will return 18vw*/
    background-color: #0a0a23;
    /*
    this property helps us to size elements consistently, 
    so the ratio of an element stays the same as it grows or shrinks.
    ratio = width / height;
    */
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}

header {
    height: 50px;
    width: 100%;
    background-color: #1b1b32;
    /* stow the elements according to the space*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

h1 {
    color: #f1be32;
    /*will return the minimum value...*/
    font-size: min(5vw, 1.2em);
    text-align: center;
}
/*
The element > element selector in CSS is used to style only those elements which are the children of specific parent.

The operand on the left of > is the parent and the operand on the right is the children element.
*/
nav > ul {
    display: flex;
    /* create space in between elements*/
    justify-content: space-evenly;
    /* aligns the items at the center*/
    align-items: center;
    /* the space at the top of the edge of the element
       padding-block is a shorthand for padding-inline-start and 
       padding-inline-end
    */
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    flex-wrap: wrap;  
}

h1, h2 {
    font-family: Verdana, sans-serif;
}

h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0;
    padding-top: 60px;
}

.sr-only {
    /* will position the element ignoring others element in the page. top, left, bottom, right will
    have some influence on its position*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    /* will make the element return to its original place*/
    overflow: hidden;
    /* will show portion of the element according rect (top, bottom, left, right)*/
    clip: rect(0, 0, 0, 0);
    /* will convert two or more white spaces into one and 'nowrap' will keep the text in the same line*/
    white-space: nowrap;
    border: 0;
}
/*pseudo-element will add the text 'Question #' 
before any content assigned to p elements*/
p::before {
    content: 'Question #'
}

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

li > a {
    color: inherit;
    text-decoration: none; 
}
  
nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

main {
    padding-top: 60px;
}

section {
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 600px;
}

.info { 
    padding: 5px 0 0 20px;
  
}

.formrow {
    margin-top: 5px;
    margin-left: 10px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 0;
    padding-bottom: 0;
}
  
input {
    font-size: 18px;
}

.info input {
    width: 50%;
    text-align: left;
}

.info label {
    width: 10%;
    min-width: 55px;  
    text-align: right;
}
  
.info > input , .info > label {
    display: inline-block;
    
}

.question-block {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px; 
}

p {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
}

.question {
    border: none;
    padding-bottom: 0;
}