*,
::before,
::after {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: Baskervville, serif;
    color: linen;
    background-color: rgb(20, 30, 40);
}

h1 {
    font-family: Anton, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
    color: linen;
}

main {
    display: grid;
    /*grid-template-columns: 1fr 94rem 1fr;*/
    /*minmax will turn the columns into responsive*/
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
    row-gap: 3rem;
}

.heading {
    grid-column: 2 / 3;
    display: grid;
    /* Create 2 columns each with 1fr of size */
    grid-template-columns: repeat(2, 1fr);
    /* the same as grid-template-columns: 1fr 1fr */
    /* Creates a gap between the rows */
    row-gap: 1.5rem;
}

.text {
    /*It will set grid-column-start: 2 and grid-column-end: 2
      2 represents the line number 'vertically' where it begins
      3 represents the line number 'vertically' where it ends
      https://learncssgrid.com/
    */
    grid-column: 2 / 3;
}

.hero {
    /* We use -1 when we are not sure where the content of our columns will end*/
    grid-column: 1 / -1;
    /* Since our last columns is 3, this is the same as grid-column: 1 / 3 */
    position: relative;
}

img {
    width: 100%;
    /* https://www.geeksforgeeks.org/css-the-object-fit-property/ 
        object-fit: fill|contain|cover|scale-down|none|initial|inherit;
    */
    object-fit: cover;
}

.hero-title {
    text-align: center;
    color: orangered;
    font-size: 8rem;
}

.hero-subtitle {
    font-size: 2.4rem;
    color: orangered;
    text-align: center;
}

.author {
    font-size: 2rem;
    font-family: Raleway, sans-serif;
}

.author-name a:hover {
    background-color: #306203;
}

.publish-date {
    color: rgba(255, 255, 255, 0.5);
}

.social-icons {
    display: grid;
    font-size: 3rem;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    /* It will create dynamically a column as needed.
       e.g: Try to add a new icon to see the differences.  
    */
    grid-auto-flow: column;
    /* This property will help to avoid the new columns
       to have width with auto as value.
       Applying this will set 1fr as a value for width to new columns
     */
    grid-auto-columns: 1fr;
    align-items: center;
    font-size: 1.8rem;
    letter-spacing: 0.6px;
    column-width: 25rem;
}