html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #0a0a23;
}

/*
It applies the style in the selected
class and will hide it visually, but the screen
readers will be able to announce them
*/
span[class~="sr-only"] {
    border: 0;
    /* many articles say the clip property is depreacated
        clip: rect (top, right bottom left)
        replaced by:
        clip-path: inset (top, right, bottom, left);  clip a rectangle 
    */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    -webkit-clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    margin: -1px;
}