html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #0a0a23;
}

/*
It applies the style in the selected
class and will hide it visually, but the screen
readers will be able to announce them
*/
span[class~="sr-only"] {
    border: 0;
    /* many articles say the clip property is depreacated
        clip: rect (top, right bottom left)
        replaced by:
        clip-path: inset (top, right, bottom, left);  clip a rectangle 
    */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    -webkit-clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    margin: -1px;
}

h1 {
    max-width: 37.25rem;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;
}

h1 .flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

/*
Target the first span element in the flex container
*/
h1 .flex span:first-of-type {
    font-size: 0.7em;
}

/*Target the last span element in the flex container*/
h1 .flex span:last-of-type {
    font-size: 1.2em;
}

section {
    max-width: 40rem;
    margin: 0 auto;
    border: 2px solid #d0d0d5;
}

#years {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    color: #fff;
    background-color: #0a0a23;
    /* keeps the element at the top...
    z-index only works with position element like absolute, fixed, sticky and relative */
    z-index: 999;
    margin: 0 -2px;
    padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
}

#years span[class] {
    font-weight: bold;
    width: 4.5rem;
    text-align: right;

}