* {
    box-sizing: border-box;
  }

  .gallery img{
    width: 100%; 
    max-width: 350px;
    height: 300px;  
  }

  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
  }

  .header {
    text-align: center;
    text-transform: uppercase;
    background-color:#0a0a23;
    color: #fff;
    padding: 32px;
    border-bottom: 4px solid #fdb347;
  }

  .gallery {
    /*itemsss will placed regarding the space inside the container*/
    display: flex;
    /*Itens can be stowed accordinto to axis (rows and columns)
      we can put them from left to right or vice-verse (rows)
      we can put them from top to bottom or vice-verse (columns)
    */
    flex-direction: row;
    /*make the items wrap to the next line if they run out of space*/
    flex-wrap: wrap;
    justify-content: center;
    /*?? no change was spotted*/
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    /*applied when the image is distorted...It will fill, crop and fit 
    the image inside de the image container*/
    object-fit: cover;
    /*Put some space 'gap' between the images*/
    gap: 16px;
    border-radius: 10px;
  }

  .gallery::after {
    content: "";
    width: 350px;
  }